.container {
    margin-top: 3rem;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }
  
  .mt-5 {
    margin-top: 3rem;
  }
  
  .add-btn {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  h3 span, p span {
    font-weight: 100;
  }
  
  .card-content {
    padding: 1.5rem;
  }
#body{
  background-color: #74EBD5;
background-image: linear-gradient(297deg, #74EBD5 0%, #cdd1df 100%);

}